.timeline-container {
  flex: 1;              /* take remaining space */
    background-color: #433f38;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem !important;
    min-height: calc(100vh - 4rem);
}
  
  .button-group button {
    background-color: #eee;
    border: none;
    padding: 0.7rem 1.5rem;
    width: 45%;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .button-group button.active,
  .button-group button:hover {
    background-color: #eacf46;
    color: #4f370d;
  }

  .timeline {
    width: 100%;
    max-width: 800px;
  }
  
  /* Timeline items */
  .timeline-item {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: left;
    width: 100%;
    transition: transform 0.3s;
  }
  
  /* Hover effect */
  .timeline-item:hover {
    transform: translateY(-5px);
  }
  
  /* Text inside items */
  .timeline-item h3 {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1.4rem;
  }
  
  .timeline-item p {
    margin: 0.3rem 0;
    color: #555;
    font-size: 1rem;
  }

  /* Responsive behavior */
  @media (max-width: 768px) {
    .timeline-item {
      padding: 1rem;
    }
  
    .button-group button {
      margin: 0.3rem;
      padding: 0.6rem 1.2rem;
      font-size: 0.9rem;
    }
  }

  .timeline-header {
    display: flex;
    align-items: center;
    gap: 0.8rem; /* espace entre l'icône et le texte */
    margin-bottom: 1rem;
  }
  
  .company-logo {
    width: 8%;
    height: 8%;
    object-fit: contain;
    border-radius: 6px;
  }
  
  