/* You can add global styles to this file, and also import other style files
/* Make the footer stick at the bottom of the page */
@font-face {
  font-family: 'Amsterdam Four';
  src: url('assets/fonts/amsterdam-font/AmsterdamFourTtf-owMx4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
  
